html,body {
    margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
}

header {
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  margin: 0;
  padding : 3px;
  flex: none;
  position: fixed;
  background-color: #333;
}

.fixed {
  position: fixed;
  top: 0;
  background: #fff;
}

body.scrolled header {
  opacity: 0.2;
  transition: opacity .2s;
}

body.scrolled header:hover {
  opacity: 1.0;
  transition: opacity .2s;
}

a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.content {
  float: left;
  height: 1000px;
  overflow: auto;
  flex: 8;
  margin-top: 50px;
  background: ghostwhite;
}

.hero-image {
  opacity: 0.9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/home/cgi/workspaces/respWeb/assets/gambling intro.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.flex-parent {
  min-height: 50vh;
  position: relative;
  background-color:  #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-parent > nav {
  margin-top: auto;
  position: relative;
  background-color:  lightblue;
  margin: 5px;
  width: 50%;
  padding: 10px;
  font-size: 30px;
}

#c1,#c2,#c3 {
  flex: 1 1 auto;
}

footer {
  /* position: fixed; */
  width: 100%;
  flex: 0.5;
  bottom: 0;
  height: 15px;
  background: chocolate;
}

footer h3 {
  text-align: left;
}

footer img {
  background-size: cover;
}